*{
    padding: 0;
    margin: 0;

}

body{
    border-top: hsl(0, 87%, 12%);
    border-style: dashed ;
    border-style: groove;
    border-color: rgb(206, 156, 255);
    border-width: 3px;
    background-color: white;
}
div{
    width: "200px";
    height:"100px";
    border: 10px;
    border-style:groove;
    border-color: aqua;
    padding:20px;
    margin: 10px;
}
/* span{
    color:azure;
} */
#first  span{
    color: goldenrod;
}



#second span{
    color:blanchedalmond;
}

#thired >span{
    color:blueviolet;
}



#p-1{
    background-color: rgb(231, 208, 208);
    font-size: medium;
     font-family: 'Alkatra', cursive;
}

#p-2{
    background-color: rgb(210, 180, 238);
    font-size: medium;
font-family: 'Delicious Handrawn', cursive;
}
#p-3{
    background-color: rgb(231, 208, 208);
     font-family: 'Alkatra', cursive;
     font-size: medium;
     
}

#first{
    background-color: lightgray;
    font-family: 'Alkatra', cursive;
}

#second{
    background-color: lightgray;
    font-family:'Times New Roman', Times, serif;
}

#thired{
    background-color: lightgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* h1{
    background-color: blue;
} */
.first-para{
font-size: x-large;
color: brown;
}
